<!DOCTYPE htnl>
<html lang="ja">
  <head>
    <title>Zoom Gacha</title>
    <style type="text/css">
      body {
        margin-right: auto;
        margin-left: auto;
        width: 1200px;
      }
    </style>
  </head>
  <body>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
